@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

/* Color del thumb (el deslizador) */
::-webkit-scrollbar-thumb {
  background-color: #4FD1C5;
}

/* Color del track (el fondo de la scrollbar) */
::-webkit-scrollbar-track {
  background-color: #E5E7EB;
}